.img_container{
width: 80vw;
height: auto;
display: flex;
flex-flow: column nowrap;
position: relative;
}

img{
width: 100%;
overflow:hidden;
}

.cardfigcaption{
  background-color: rgb(62, 62, 62);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  position: absolute;
  bottom: 0%;
  width: 100%;
  opacity: 0.65;
  font-weight: bolder;
  font-size: large;
}

.mySwiper {
  margin: 0px;
  width: 320px;
  height: 240px;

}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

h3 {
  margin-top: 12vh;
  margin-bottom: 10vh;
  text-align: center;
}

.dogDetailsContainer{
  padding: 0vw 4vw;
}

.dogDetails{
  color: #FBA642;
  font-size: larger;
  font-weight: bolder;
}

button{
  background-color: #FBA642;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 10px ;
  min-width: 33vw;
}

.buttonDivProfile{
padding: 1vh 4vw;
display: flex;
width: 100%;
justify-content: center;
}

.buttonDivPreview{
  margin-top: 10vh;
  padding: 1vh 4vw;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pageContainer{
  margin-top: 10vh;
}

.swipePics{
  text-align: center;
}

.profileFigCap{
  background-color: rgb(62, 62, 62);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  position: absolute;
  bottom: 0%;
  opacity: 0.65;
  font-weight: bolder;
  font-size: large;
}
