
button{
  background-color: #FBA642;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 10px ;
  min-width: 33vw;
}

.adoptionForm{
  margin-top: 5vh;

}

.pageContainer{
  margin-top: 10vh;
  padding: 0vw 4vw;
}

form{
  display: flex;
  flex-direction: column;

}